@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

.blob {
	box-shadow: 0 0 150px 100px var(--link-hover-color);
	border-radius: 50%;
	height: 290px;
	width: 290px;
	background-image: radial-gradient(
		farthest-corner at 50% 50%,
		#ffffff,

	);
	background-blend-mode: multiply;
	filter: blur(50px) contrast(1.1);
	position: fixed;
	transform: translate(-50%, -50%);
	left: 47vw;
	top: 100vh;
	position: absolute;
}

